In [39]:
import os
import pandas as pd

In [40]:
# Load in csv
file = "201908-citibike-tripdata.csv"
citibike_df = pd.read_csv(os.path.join(r"C:\Users\ryanc\OneDrive\Desktop\bikesharing\citibike-tripdata" ,file))
citibike_df["tripduration"]

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [41]:
citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'], unit = "s")
citibike_df['tripduration']

0         1970-01-01 00:06:33
1         1970-01-01 00:10:27
2         1970-01-01 00:18:52
3         1970-01-01 00:29:40
4         1970-01-01 00:25:17
                  ...
2344219   1970-01-01 00:03:36
2344220   1970-01-01 00:01:57
2344221   1970-01-01 00:26:54
2344222   1970-01-01 00:21:41
2344223   1970-01-01 00:06:59
Name: tripduration, Length: 2344224, dtype: datetime64[ns]

In [42]:
citibike_df.to_csv(r'C:\Users\ryanc\OneDrive\Desktop\bikesharing\citibike_data_3.csv')

In [43]:
print(citibike_df.dtypes)

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object